#wrapper{
    width:1000px;
    min-height:600px;
    margin:0 auto;
}

#header{
    width:1000px;
    height: 100px;
	}
 #cover{
    width:100%;
    min-height:100px;   
    
 }
 
#upper{
    width:100%;
    height: 40px;
    
}
#centerpanel
{
  min-height:520px; 
  width:300px ;
  float: left;
  text-align: center;
 background-color: burlywood;
 margin-left: 350px;

  
    
}
#centerpane6
{
  min-height:200px; 
  width:300px ;
  float: left;
  text-align: center;
 background-color: white;
 margin-left: 350px;
}
#centerpanel1
{
  min-height:120px; 
  width:300px ;
  float: left;
  text-align: center;
 background-color: burlywood;
 margin-left: 350px;
  
    
}

#centerbar2
{
  min-height:300px; 
  width:250px ;
  float: left;
  text-align: center;
 background-color: burlywood;
  
    
}
#mid{
    width: 100%;
    height: 20px;
    font-family: inherit;
    font-size: 20px;
    text-align:center;
    color:#FFFF00;
    
}

#lower{
    width: 100%;
    height: 40px;
    font-family: inherit;
    margin-top:7px; 
    font-size: 30px;  
    text-align:center; 
    color:#FFFF00;
}
 

	
#container{
    width:1000px;
    min-height: 470px;
    }
    


#midcontainer{
    width:820px;
    min-height:450px ;
    float: left;
    
}	

#firstrow{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left:200px ;
    width:600px;
    height:200px;
    
}

#route{
   
    width:190px;
    height: 190px;
    float: left;
}

#contentad
{
 width: 1000px;
 min-height: 650px;   
 background-color: white;
 text-align: center;
    
}
#tickets{
   
    width:190px;
    height: 190px;
    background-color:black;
    float: left;
    margin-left: 10px;
    
}

#special{
   
    width:190px;
    height: 190px;
    background-color:black;
    float: left;
    margin-left: 10px;
    
}

#secondrow{
    
    
    margin-left:200px ;

    width:800px;
    height:200px;
    
}

#abut{
   width:390px;
    height: 190px;
   margin-left: 10px;
    float: left;
    
       
}

#link{
   
    width:190px;
    height: 190px;
    background-color:black;
    float: left;
    margin-left: 10px;
    
}

#footer{
    width:1000px;
    height:30px;
    background: #cc0000;
    position:relative;
}

#ftitle{
    
    font-size: 15px;
    padding-top: 8px;
    color: white;
    width:100%;
    font-family: tahoma;
    text-align: center;
}

#tile1
{
    
    width:190px;
    height: 190px;
    float: left;
    
    }

#tile2
{
   width:190px;
    height: 190px;
    float: left;
     
    
    }
#tile3
{
   width:190px;
    height: 190px;
    float: left;
     
    
    }
    
#tile4
{ width:390px;
    height: 190px;
   margin-left: 10px;
    float: left;
    
       
    
    }
#tile5
{
   width:190px;
    height: 190px;
    float: left;
     
    
    }
    
#content
{
 width: 1000px;
 min-height: 650px;   
 background-color: white;
 
}

    
#content6
{
 width: 1000px;
 min-height:450px;   
 background-color: white;
 
}
#contentcu
{
 width: 1000px;
 min-height: 450px;   
 background-color: white;
 
}


            
            
#reqform
{
   width:1000px;
    min-height:200px ; 
    text-align:center;
    background-color: white;
    
}

#freespace{
     width:1000px;
    min-height:100px ;
    text-align:center;
    font-family: inherit;

}
#links
{
height:30px;
text-align:center; 
 padding-top: 10px;  
 color: white;
    
    
}

#link1
{
height:20px;
width:200px;  
float: left;
 color: white;

}
#link2
{
height:20px;
width:200px; 
float: left;
 color: white;
}
#link3
{
height:20px;
width:200px;
float: left;
 color: white; 
}
#link4
{
    float: left;
height:20px;
width:200px;
 color: white;  
}
#link5
{
height:20px;
float: left;
width:200px;
 color: white;  
}
#side
{
height: 550px;
width: 20px;
float: left;    
    
}

#line
{
 height: 2px;
 width:1000px;
 background-color: black;   
    
}